.body {
  position: absolute;
  top: 70px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.battle_grid {
  height: 60px;
  background: #999;
  width: 5%;
  padding: 0;
  margin: 0;
  float: left;
}
.solider {
  background: #990;
}
