doctype
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="http://cdn.staticfile.org/twitter-bootstrap/3.0.0/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="resources/app.css")
    title factory simulater
  body
    .navbar-inverse.navbar-fixed-top
      .container
        .navbar-brand
          | factory simulater
    .body
      .container(ko-control="factory")
        .row
          .col-md-5
          .col-md-7.row(data-bind="foreach:resources")
            include ./components/resource.jade
        .row
          .col-md-7(data-bind="withfirst:factories")
            include ./components/named_progress.jade
            .row(data-bind="with: products")
              .col-md-1
              .col-md-11
                include ./components/named_progress.jade
          .col-md-5(data-bind="foreach: factories")
      .container(ko-control="battle_field")
        .row
          .col-md-12(data-bind="text: 'round : ' + round()")
        .row(data-bind="foreach: grids")
          .battle_grid(data-bind="if:!empty(), css:{ solider : !empty() }")
            div(data-bind="withfirst: units")
              | name : 
              span(data-bind="text: name")
              br
              | hp :
              span(data-bind="text: hp")

    script(type="text/javascript", charset="utf-8", src="http://cdn.staticfile.org/require.js/2.1.11/require.js")
    script(type="text/javascript", charset="utf-8", src="imps/app.js")